# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DIALECT=mysql
DB_NAME=mydb

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
CORS_METHOD=GET,POST,PATCH
