name: CI

on:
    push:
        branches:
            - main

jobs:
    CI:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [22]

        steps:
            # Step 1: Check out the repository
            - name: Check out repository
              uses: actions/checkout@v4

            # Step 2: Set up Node.js
            - name: Set up Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}

            # Step 3: Install dependencies
            - name: Install dependencies
              run: npm install

            # Step 4: Lint code
            # - name: Lint code
            #   run: npm run lint

            # Step 5: Run tests
            - name: Run tests
              env:
                  NODE_ENV: test
              run: npm run test:coverage

            # Step 6: Upload coverage to Codecov
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  slug: fajrCode/todolist-api
                  files: ./coverage/lcov.info
                  flags: unittests
